@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
  --primary-color: #e55947;
  --sub-primary-color: #d2321e;
  --sub-white-color: #fafaff;
  --sub-dark-light: #606060;
  --dark-color: #101010;
  --gray-color: #f0f1f3;
  --font-primary: 'Lato', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem; }

@media screen and (min-width: 768px) {
  --big-font-size: 6rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem; }

:root {
  --m1: 0.5rem;
  --m2: 1rem;
  --m3: 1.5rem;
  --m4: 2rem;
  --z-index: 1000;
  --z-fix: 100; }

*,
::before,
::after {
  box-sizing: border-box; }

html {
  scrolls-behavior: smooth; }

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--font-primary);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6; }

h1,
h2,
p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: var(--dark-color); }

img {
  max-width: 100%;
  height: auto; }

.section {
  padding: 3rem 0; }

.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--m4) 0 var(--m1);
  text-align: center; }

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--m2); }

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--m3);
  margin-right: var(--m3); }

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fix);
  background-color: var(--gray-color); }

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--sub-white-color);
    transition: 0.5s; } }

.nav__item {
  margin-bottom: var(--m4); }

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi); }

.nav__link:hover {
  color: var(--primary-color); }

.nav__logo {
  font-weight: var(--font-bold); }

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--m2); }

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer; }

.show {
  right: 0; }

.active {
  color: var(--primary-color); }

.home {
  background-color: var(--gray-color); }

.home__container {
  height: calc(100vh - var(--header-height)); }

.home__data {
  padding-top: 6rem; }

.home_title {
  align-self: center; }
