.featured {
  &__container {
    row-gap: 2rem;
  }

  &__product {
    transition: 0.3s;
  }

  &__product:hover {
    transform: translateY(-0.5rem);
  }

  &__box {
    position: relative;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--gray-color);
  }

  &__new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--sub-white-color);
    padding: 0.3rem 0.75rem;
    font-size: var(--small-font-size);
  }

  &__data {
    text-align: center;
  }

  &__name {
    margin-bottom: var(--m1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
  }

  &__price {
    color: var(--sub-dark-light);
    font-weight: var(--font-semi);
  }

  @media screen and (min-width: 768px) {
    &__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
