.home {
  background-color: var(--gray-color);

  &__container {
    height: calc(100vh - var(--header-height));
  }

  &__data {
    padding-top: 6rem;
  }

  &__title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: 0.5rem;
    margin-bottom: 4rem;
  }

  &__title span {
    font-size: var(--h1-font-size);
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
  }

  @media screen and (min-width: 768px) {
    &__container {
      height: 100vh;
    }

    &__data {
      padding: 0;
      height: max-content;
      align-self: center;
    }

    &__title {
      line-height: 0.8;
      letter-spacing: 1.5rem;
    }

    &__img {
      width: 370px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__data {
      padding-left: 7rem;
    }

    &__img {
      right: 15%;
    }
  }
}
