.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    margin-bottom: var(--m4);
  }

  &__link {
    color: var(--dark-color);
    font-weight: var(--font-semi);
  }

  &__link:hover {
    color: var(--primary-color);
  }

  &__logo {
    font-weight: var(--font-bold);
  }

  &__cart {
    font-size: 1.5rem;
    margin-right: var(--m2);
  }

  &__toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    &__menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--sub-white-color);
      transition: 0.5s;
    }
  }

  @media screen and (min-width: 768px) {
    .nav {
      height: calc(var(--header-height) + 1rem);
      justify-content: initial;

      &__menu {
        margin-left: auto;
      }

      &__list {
        display: flex;
      }

      &__item {
        margin-left: var(--m4);
        margin-bottom: 0;
      }

      &__toggle {
        display: none !important;
      }
    }
  }
}

.show {
  right: 0;
}

.active {
  color: var(--primary-color);
}
